/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
}


/* Root - HTML*/
html {
    font-size: 62.5%;
}

/* Colors */
.textGrey {
    color: #F0EBE3;
}

.textGreen {
    color: #576F72;
}

.bgGreen {
    background-color: #576F72;
}

.bgGrey {
    background-color: #F0EBE3;
}

.noLink {
    text-decoration: none;
}

.selectionGreen::selection {
    background-color: #576F72;
    color: #F0EBE3;
}

.selectionGrey {
    background-color: #F0EBE3;
    color: #576F72;
}

/* INDEX */
/* Background */
.bodyIndex {
    background-color: #F0EBE3;
}

/* Navbar */
.logoIndex {
    width: 3.5rem;
}

.navLink {
    text-align: end;
    padding: 2rem;
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem;
}

.navLink:hover {
    color: #F0EBE3;
}

.buttonNav {
    background-color: #F0EBE3;
    border: none;
    outline: none;
}

/* Texts */
.textWelcome {
    font-size: 5.5rem;
}

/* Gifs */
.gifContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 3rem 0rem;
}

.gifLocation {
    max-width: 4rem;
    margin-right: 0.5rem;
}

.gifDeveloper {
    max-width: 4rem;
    margin-left: 1rem;
}

.gifDiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0rem 1rem;
    font-size: 1.5rem;
}

.gifWorld {
    mix-blend-mode: multiply;
    width: 20rem;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.498));
}

/* Divs Header Index */
.divIndex {
    padding: 4rem 0rem;
}

/* Text & Select */
option {
    background-color: #F0EBE3;
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
}

.divLanguage {
    align-items: center;
}

.textLanguage {
    padding-right: 2rem;
    font-size: 2.2rem;
}

.selectIndex {
    background-color: #F0EBE3;
    color: #576F72;
    border-radius: 0.6rem;
    height: 3rem;
    width: 10rem;
    text-align: center;
    outline: none;
    border: none;
    font-size: 1.5rem;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.58);
}


/* Section-1 Index */
.h2Index {
    font-size: 2.2rem;
    text-align: center;
    padding: 20rem 3rem 10rem 3rem;
    text-shadow: 0px 5px 3px rgba(0,0,0,0.54);
}

.h3Index {
    font-size: 1.9rem;
    text-align: center;
    padding: 10rem 3rem 20rem 3rem;
    text-shadow: 0px 5px 3px rgba(0,0,0,0.54);
}

.h4Index {
    font-size: 1.9rem;
    text-align: center;
    padding: 10rem 3rem 5rem 3rem;
    text-shadow: 0px 5px 3px rgba(0,0,0,0.54);
}

.h5Index {
    font-size: 2.5rem;
    text-align: center;
    padding: 5rem 3rem 10rem 3rem;
    text-shadow: 0px 5px 3px rgba(0,0,0,0.54);
}

.circleContainer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: #F0EBE3;
    margin: auto;
    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.54));
}

.circleInside {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 11.5rem;
    height: 11.5rem;
    border-radius: 50%;
    border: 0.3rem solid #576F72;
    background: #F0EBE3;
    color: #576F72;
    font-size: 2rem;
    font-weight: bold;
}

.circleInside:hover {
    color: #576F72;
}


/* Round end */
.roundEndGreen {
    width: 100%;
    height: 10rem;
    border: 0.1rem solid #576F72;
    background: #576F72;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -5.4rem;
    margin-bottom: 1rem;
    box-shadow: 0px 5px 9px -4px rgba(41, 41, 41, 0.71);
    -webkit-box-shadow: 0px 5px 9px -4px rgba(41, 41, 41, 0.71);
    -moz-box-shadow: 0px 5px 9px -4px rgba(41, 41, 41, 0.71);
}

.roundEndGrey {
    width: 100%;
    height: 10rem;
    border: 0.1rem solid #F0EBE3;
    background: #F0EBE3;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -5.4rem;
    margin-bottom: 1rem;
    box-shadow: 0px 5px 9px -4px rgba(41, 41, 41, 0.71);
    -webkit-box-shadow: 0px 5px 9px -4px rgba(41, 41, 41, 0.71);
    -moz-box-shadow: 0px 5px 9px -4px rgba(41, 41, 41, 0.71);
}


/* FOOTER */
.meFooterDiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 3rem 0rem 1rem 2rem;
}

/* Photo & Texts */
.meRound {
    max-width: 12rem;
    transition: all 0.6s ease;
}

.meRound:hover {
    transform: scale(1.6);
}

.nameFooter {
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.jobFooter {
    margin-left: 1rem;
    font-size: 1.8rem;
}

/* Contact buton */
.divContactFooter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    padding: 1rem 0rem;
    margin: 0rem 2rem;
}

.lineContactGreen {
    background: #576F72;
    height: 0.3rem;
    width: 80%;
    border-radius: 1rem;
    opacity: 100%;
    border: none;
}

.textContactFooter {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 0.3rem solid #576F72;
    background: #F0EBE3;
    color: #576F72;
    font-size: 2rem;
    font-weight: bold;
}

.textContactFooter:hover {
    color: #576F72;
}

/* Solidary buton */
.divSolidaryFooter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    padding: 1rem 0rem;
    margin: 0rem 2rem;
}

.lineSolidaryGreen {
    background: #576F72;
    height: 0.3rem;
    width: 80%;
    border-radius: 1rem;
    opacity: 100%;
    border: none;
}

.textSolidaryFooter {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 0.3rem solid #576F72;
    background: #F0EBE3;
    color: #576F72;
    font-size: 2rem;
    font-weight: bold;
}

.textSolidaryFooter:hover {
    color: #576F72;
}

/* Bottom */
.bottomContainer {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.divContainerFooter {
    font-size: 1.5rem;
    color: #576F72;
    margin-bottom: -1rem;
}

.timeContainerFooter {
    font-size: 1.2rem;
    color: #576F72;
}

.linkUp:hover {
    color: #576F72;
}


/* WORKS */
.bodyPages {
    background-color: #576F72;
}

.navLinkPages {
    text-align: end;
    padding: 2rem;
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem;
}

.divWorkLeft {
    padding: 6rem 1rem;
    margin: 1rem;
}

.divWorkRight {
    padding: 6rem 1rem;
    margin: 1rem;
}

.textWorkLeft {
    font-size: 3rem;
    text-align: start;
    font-weight: bold;
}

.textWorkRight {
    font-size: 3rem;
    text-align: end;
    font-weight: bold;
}

.h3Works {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
}

.h4Works {
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.lineContactGrey {
    background: #F0EBE3;
    height: 0.3rem;
    width: 80%;
    border-radius: 1rem;
    opacity: 100%;
    border: none;
}

.textContactFooterGrey {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 0.3rem solid #F0EBE3;
    background: #576F72;
    color: #F0EBE3;
    font-size: 2rem;
    font-weight: bold;
}

.textContactFooterGrey:hover {
    color: #F0EBE3;
}

.lineSolidaryGrey {
    background: #F0EBE3;
    height: 0.3rem;
    width: 80%;
    border-radius: 1rem;
    opacity: 100%;
    border: none;
}

.textSolidaryFooterGrey {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 0.3rem solid #F0EBE3;
    background: #576F72;
    color: #F0EBE3;
    font-size: 2rem;
    font-weight: bold;
}

.textSolidaryFooterGrey:hover {
    color: #F0EBE3;
}


.linkUpGrey:hover {
    color: #F0EBE3;
}

.worksLink {
    font-size: 3rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.worksImage {
    width: 15rem;
    padding-bottom: 8rem;
}

.sectionWorks {
    margin-top: -1rem;
}

.pagesContainer {
    display: flex;
    flex-flow: column nowrap;
}

.divPages {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;

}


/* ABOUT */
.h3About {
    font-size: 3rem;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
}

.toolsContainer {
    display: flex;
    flex-flow: column nowrap;
}

.divTools {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.toolsImage {
    width: 15rem;
}

.toolsText {
    font-size: 2.1rem;
    padding-top: 1rem;
    font-weight: bold;
}

.h4About {
    font-size: 3rem;
    padding: 2rem;
}

.mapAbout {
    padding: 1rem 0rem 8rem 0rem;
}



/* SOLIDARY */
.textSolidary {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.infoContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    padding-bottom: 10rem;
}

.divInfo {
    display: flex;
    flex-flow: column nowrap;
    padding: 5rem 1rem;
}

.infoText {
    font-size: 3rem;
    font-weight: bold;
}

.infoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: normal;
    background-color: #E4DCCF;
    border-radius: 2rem;
    height: 8rem;
    width: 30rem;
}


.infoLink:hover {
    color: #576F72;
}



/* CONTACT */
.divTextContact {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.textContact {
    font-size: 3rem;
    text-decoration: underline;
    font-weight: bold;
}

.formContainer {
    display: flex;
    flex-flow: column nowrap;
    padding: 0rem 2rem 6rem 2rem;
}

.formDiv {
    display: flex;
    flex-flow: column nowrap;
    padding: 3rem 0rem;
}

.labelContact {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

.inputContact {
    background-color: #E4DCCF;
    border: 1px solid #E4DCCF;
    color: #576F72;
    outline-style: none;
    height: 5rem;
    width: 100%;
    border-radius: 1.5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    transition: all 0.7s ease;
}

.inputContact:focus {
    background-color: #576F72;
    color: #F0EBE3;
}

.inputContact:focus::placeholder {
    color: #E4DCCF;
}

.inputMessage {
    background-color: #E4DCCF;
    border: 1px solid #E4DCCF;
    color: #576F72;
    outline-style: none;
    height: 15rem;
    width: 100%;
    border-radius: 1.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    resize: none;
    transition: all 0.7s ease;
}

.inputMessage:focus {
    background-color: #576F72;
    color: #F0EBE3;
}

.inputMessage:focus::placeholder {
    color: #E4DCCF;
}

.divButton {
    text-align: end;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.54));
}

.buttonSend {
    font-size: 2rem;
    background-color: #E4DCCF;
    border: 1px solid #E4DCCF;
    outline-style: none;
    border-radius: 1.5rem;
    height: 5rem;
    width: 10rem;
    font-weight: 400;
    color: #576F72;
    transition: all 0.3s ease;
}

.gifCode {
    display: none;
}


/* TABLET */
@media only screen and (min-width: 670px) and (max-width: 991px) {
    .logoIndex {
        width: 7rem;
    }

    .textWelcome {
        font-size: 9rem;
    }

    .gifWorld {
        width: 30rem;
    }

    .textLanguage {
        font-size: 3.6rem;
    }

    .selectIndex {
        height: 4.3rem;
        width: 15rem;
        font-size: 3rem;
    }

    .gifLocation {
        max-width: 8rem;
    }

    .gifDeveloper {
        max-width: 8rem;
    }

    .gifDiv {
        font-size: 2.8rem;
    }

    .h2Index {
        font-size: 3rem;
    }
    
    .h3Index {
        font-size: 2.6rem;
    }
    
    .h4Index {
        font-size: 2.5rem;
    }
    
    .h5Index {
        font-size: 3rem;
    }

    .divIndex {
        padding: 6.9rem 0rem;
    }

    .circleContainer {
        width: 20rem;
        height: 20rem;
    }

    .circleInside {
        width: 19rem;
        height: 19rem;
        border: 0.4rem solid #576F72;
        font-size: 4rem;
    }

    .meRound {
        max-width: 20rem;
    }

    .nameFooter {
        margin-left: 3rem;
        font-size: 4rem;
    }

    .jobFooter {
        margin-left: 2rem;
        font-size: 2.5rem;
    }

    .textContactFooter {
        width: 20rem;
        height: 20rem;
        border: 0.3rem solid #576F72;
        font-size: 3rem;
    }

    .textSolidaryFooter {
        width: 20rem;
        height: 20rem;
        border: 0.3rem solid #576F72;
        font-size: 3rem;
    }

    .divContainerFooter {
        font-size: 2.5rem;
    }

    .timeContainerFooter {
        font-size: 2rem;
    }

    .navLink {
        font-size: 4rem;
    }

    .textWorkLeft {
        font-size: 4rem;
    }

    .textWorkRight {
        font-size: 4rem;
    }

    .h3Works {
        font-size: 3rem;
    }

    .worksLink {
        font-size: 4rem;
    }

    .worksImage {
        width: 30rem;
    }

    .h4Works {
        font-size: 3rem;
    }

    .lineContactGrey {
        width: 90%;
    }

    .lineSolidaryGrey {
        width: 90%;
    }

    .textContactFooterGrey {
        width: 20rem;
        height: 20rem;
        border: 0.3rem solid #F0EBE3;
        font-size: 3rem;
    }

    .textSolidaryFooterGrey {
        width: 20rem;
        height: 20rem;
        border: 0.3rem solid #F0EBE3;
        font-size: 3rem;
    }

    /* ABUOT */
    .h3About {
        font-size: 4rem;
        padding-bottom: 4rem;
    }
    
    .divTools {
        padding-bottom: 8rem;
    }
    
    .toolsImage {
        width: 20rem;
    }
    
    .toolsText {
        font-size: 3.1rem;
    }
    
    .h4About {
        font-size: 5rem;
        padding: 2rem;
    }
    
    .mapAbout {
        padding-bottom: 10rem;
    }

    /* SOLIDARY */
    .textSolidary {
        font-size: 4rem;
    }

    .divInfo {
        padding: 10rem 1rem;
    }

    .infoText {
        font-size: 5rem;
    }

    .infoLink {
        font-size: 3.5rem;
        height: 15rem;
        width: 60rem;
    }

    /* CONTACT */
    .divTextContact {
        padding: 20rem 0rem;
    }

    .textContact {
        font-size: 7rem;
    }

    .formContainer {
        padding: 5rem 2rem 15rem 2rem;
    }

    .formDiv {
        padding: 7rem 0rem;
    }

    .labelContact {
        font-size: 4rem;
        padding-bottom: 2rem;
    }

    .inputContact {
        height: 10rem;
        font-size: 2.5rem;
    }

    .inputMessage {
        height: 30rem;
        font-size: 1.5rem;
    }

    .buttonSend {
        font-size: 3.5rem;
        height: 8rem;
        width: 18rem;
    }
}

/* DESKTOP */
@media only screen and (min-width: 992px) {
    .logoIndex {
        width: 8rem;
        transition: all 0.5s ease;
    }

    .logoIndex:hover {
        transform: scale(1.1);
        filter: drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.54));
    }

    .navLink {
        transition: all 0.5s ease;
        font-weight: normal;
        padding: 0.5rem;
    }

    .navLink:hover {
        transform: scale(1.3);
        text-shadow: 0px 5px 3px rgba(0,0,0,0.54);
    }

    .navHeight {
        height: 11rem;
    }

    .textWelcome {
        font-size: 9rem;
    }

    .gifWorld {
        width: 30rem;
    }

    .textLanguage {
        font-size: 3rem;
    }

    .selectIndex {
        height: 3.5rem;
        width: 11rem;
        font-size: 2rem;
    }

    .gifLocation {
        max-width: 8rem;
    }

    .gifDeveloper {
        max-width: 8rem;
    }

    .gifDiv {
        padding-top: 2rem;
        font-size: 2.5rem;
    }

    .h2Index {
        font-size: 4.6rem;
    }

    .h3Index {
        font-size: 3.5rem;
    }

    .h4Index {
        font-size: 4rem;
    }

    .h5Index {
        font-size: 4.6rem;
    }

    .circleContainer {
        width: 22rem;
        height: 22rem;
    }

    .circleInside {
        width: 21rem;
        height: 21rem;
        border: 0.5rem solid #576F72;
        font-size: 3.5rem;
        transition: all 0.6s ease;
    }

    .circleInside:hover {
        transform: scale(0.95);
        background-color: #576F72;
        color: #F0EBE3;
    }

    .meRound {
        max-width: 22rem;
    }

    .nameFooter {
        margin-left: 3rem;
        font-size: 3rem;
    }

    .jobFooter {
        margin-left: 2rem;
        font-size: 2.4rem;
    }

    .lineContactGreen {
        width: 90%;
    }

    .textContactFooter {
        width: 22rem;
        height: 22rem;
        font-size: 3rem;
        transition: all 0.5s ease;
    }

    .textContactFooter:hover {
        transform: scale(1.1);
        background-color: #576F72;
        color: #F0EBE3;
    }

    .lineSolidaryGreen {
        width: 90%;
    }

    .textSolidaryFooter {
        width: 22rem;
        height: 22rem;
        font-size: 3rem;
        transition: all 0.5s ease;
    }

    .textSolidaryFooter:hover {
        transform: scale(1.1);
        background-color: #576F72;
        color: #F0EBE3;
    }

    .divContainerFooter {
        font-size: 3rem;
    }

    .timeContainerFooter {
        font-size: 2.3rem;
    }

    /* Works */
    .navLinkPages {
        transition: all 0.5s ease;
    }

    .navLinkPages:hover {
        text-shadow: 0px 4px 2px rgba(59, 59, 59, 0.119);
        transform: scale(1.3);
        color: #576F72;
    }

    .textWorkLeft {
        font-size: 8rem;
        width: 80%;
        padding: 8rem 0rem;
        text-shadow: 4px 0px 2px rgba(0,0,0,0.53);
    }

    .textWorkRight {
        font-size: 8rem;
        padding: 3rem 2rem;
        text-shadow: -4px 0px 2px rgba(0,0,0,0.53);
    }

    .h3Works {
        font-size: 5rem;
        padding: 10rem 0rem;
    }

    .h4Works {
        font-size: 5rem;
    }

    .meRound {
        max-width: 30rem;
    }

    .nameFooter {
        margin-left: 3rem;
        font-size: 4.5rem;
    }

    .jobFooter {
        margin-left: 2rem;
        font-size: 3.5rem;
    }

    .lineContactGrey {
        width: 90%;
    }

    .textContactFooterGrey {
        width: 22rem;
        height: 22rem;
        font-size: 3rem;
        transition: all 0.5s ease;
    }

    .textContactFooterGrey:hover {
        transform: scale(1.1);
        background-color: #F0EBE3;
        color: #576F72;
    }

    .lineSolidaryGrey {
        width: 90%;
    }

    .textSolidaryFooterGrey {
        width: 22rem;
        height: 22rem;
        font-size: 3rem;
        transition: all 0.5s ease;
    }

    .textSolidaryFooterGrey:hover {
        transform: scale(1.1);
        background-color: #F0EBE3;
        color: #576F72;
    }

    .worksLink {
        font-size: 5rem;
    }

    .worksLink:hover {
        color: #576F72;
    }

    .worksImage {
        width: 25rem;
    }
    
    .pagesContainer {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 10rem;
    }
    
    .divPages {
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        transition: all 0.6s ease;
        filter: grayscale();
    }

    .divPages:hover {
        transform: scale(1.2);
        filter: none;
    }

    /* ABOUT */
    .h3About {
        font-size: 6rem;
    }
    
    .toolsContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 95%;
        margin: 0 auto;
        padding: 6rem 0rem;
    }

    .divTools {
        filter: grayscale();
        transition: all 0.8s ease;
    }

    .divTools:hover {
        transform: scale(1.3);
        filter: none;
    }
    
    .toolsImage {
        width: 19rem;
    }
    
    .toolsText {
        font-size: 2.8rem;
        padding-top: 2rem;
    }
    
    .h4About {
        font-size: 5rem;
        padding: 2rem;
    }
    
    .mapAbout {
        padding-bottom: 12rem;
        filter:grayscale();
        transition: all 0.8s ease;
    }

    .mapAbout:hover {
        filter: none;
    }

    /* SOLIDARY */
    .textSolidary {
        font-size: 5rem;
        padding: 7rem 0rem;
    }

    .infoContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 2rem 0rem 20rem 0rem;
    }

    .divInfo {
        display: flex;
        flex-flow: column nowrap;
    }

    .infoText {
        font-size: 4rem;
    }

    .infoLink {
        font-size: 3rem;
        height: 12rem;
        width: 50rem;
        transition: all 0.5s ease;
    }

    .infoLink:hover {
        transform: scale(0.85);
        background-color: #576F72;
        color: #F0EBE3;
    }




    /* CONTACT */
    .textContact {
        font-size: 9rem;
        padding: 15rem 0rem;
    }

    .formDiv {
        padding: 6rem 2rem;
    }

    .labelContact {
        font-size: 5rem;
    }

    .inputContact {
        height: 8rem;
        font-size: 2.5rem;
    }

    .inputMessage {
        height: 20rem;
        font-size: 2.5rem;
    }

    .divButton {
        filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.54));
    }

    .buttonSend {
        font-size: 3rem;
        height: 6rem;
        width: 15rem;
        transition: all 0.4s ease;
    }

    .buttonSend:hover {
        background-color: #576F72;
        border: 1px solid #576F72;
        color: #F0EBE3;
        transform: scale(0.93);
    }

}

@media only screen and (min-width: 1500px) {
    .sectionContact {
        display: flex;
    }

    .formContainer {
        width: 55%;
    }

    .divCode {
        width: 45%;
        margin: auto;
    }

    .gifCode {
        display: flex;
        width: 100%;
        filter: grayscale(0.6);
        mix-blend-mode: darken;
    }
}