/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
    font-weight: normal;
}
  
/* Root - HTML*/
html {
    font-size: 62.5%;
}
  
/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");

/* Colors */
.textGrey {
    color: #F0EBE3;
}

.textGreen {
    color: #576F72;
}

.bgGreen {
    background-color: #576F72;
}

.noLink {
    text-decoration: none;
}

/* HEADER INDEX */
/* Navbar */
.logoIndex {
    width: 3.5rem;
}

.navDiv {
    display: flex;
    justify-content: end;
    margin: 3rem;
}

.navLink {
    padding: 3rem;
    font-size: 2rem;
}

.buttonNav {
    background-color: #F0EBE3;
    border: none;
    outline: none;
}


/* Texts */
.textWelcome {
    font-size: 5rem;
}

/* Gifs */
.gifContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 3rem 0rem;
}

.gifLocation {
    max-width: 4rem;
    margin-right: 0.5rem;
}

.gifDeveloper {
    max-width: 4rem;
    margin-left: 1rem;
}

.gifDiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0rem 1rem;
    font-size: 1.5rem;
}

.gifWorld {
    mix-blend-mode: multiply;
    width: 20rem;
}

/* Divs Header Index */
.divIndex {
    padding: 4rem 0rem;
}

/* Text & Select */
option {
    background-color: #F0EBE3;
}

.divLanguage {
    align-items: center;
}

.textLanguage {
    padding-right: 2rem;
    font-size: 2rem;
}

.selectIndex {
    background-color: #F0EBE3;
    color: #576F72;
    border-radius: 0.6rem;
    height: 3rem;
    width: 10rem;
    text-align: center;
    outline: none;
    border: none;
    font-size: 1.5rem;
}


/* Section-1 Index */
.h2Index {
    font-size: 1.2rem;
    text-align: center;
    padding: 4rem 1rem 0rem 1rem;
}

.h3Index {
    font-size: 1rem;
    text-align: center;
    padding: 4rem 1rem 2rem 1rem;
}

.circleContainer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: #F0EBE3;
    margin: auto;
}

.circleInside {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 7.65rem;
    height: 7.6rem;
    border-radius: 50%;
    border: 0.2rem solid #576F72;
    background: #F0EBE3;
    color: #576F72;
    font-size: 1.5rem;
}




/* FOOTER */
.meRound {
    max-width: 10rem;
}