@import '../base/list';
@import '../base/extend';
@import '../base/mixin';

// INDEX
.footerIndex {
    background-color: nth($color,2);
    color: nth($color,1);

    .divFooter {
        @extend %flexRow;
        align-items: center;
        justify-content: left;
        padding: 3rem 0rem 1rem 1rem;

        .photoFooter {
            max-width: 12rem;
            transition: all 0.6s ease;

            &:hover {
                transform: scale(1.6);
            }

            @include responsive(md) {
                max-width: 18rem;
            }
    
            @include responsive(lg) {
                max-width: 22rem;
            }
        }

        .nameFooter {
            margin-left: 2rem;
            font-size: 2rem;
            font-weight: bold;

            @include responsive(md) {
                margin-left: 3rem;
                font-size: 3rem;
            }
                
            @include responsive(lg) {
                font-size: 4rem;
            }
        }
        
        .jobFooter {
            margin-left: 1rem;
            font-size: 1.8rem;

            @include responsive(md) {
                margin-left: 2rem;
                font-size: 2.3rem;
            }
                
            @include responsive(lg) {
                font-size: 2.8rem;
            }
        }
    }

    .figureFooter {
        @extend %flexCenter;
        @extend %flexRow;
        padding: 1rem 0rem;
        margin: 0rem 2rem;

        .lineGreen {
            background: nth($color,1);
            height: 0.3rem;
            width: 80%;
            border-radius: 1rem;
            opacity: 100%;
            border: none;
        }

        .circleGreen {
            @extend %flexCenter;
            @extend %linkGreen;
            @extend %circleFooter;
            border: 0.3rem solid nth($color,1);

            @include responsive(lg) {
                transition: all 0.5s ease;

                &:hover {
                    transform: scale(1.1);
                    background-color: nth($color,1);
                    color: nth($color,2);
                }
            }
        }
    }

    .divBottom {
        display: flex;
        justify-content: space-between;
        background-color: nth($color,2);
        color: nth($color,1);
        font-size: 1.6rem;
        padding-top: 4rem;
        padding-bottom: 2rem;

        @include responsive(md) {
            font-size: 2.4rem;
        }

        @include responsive(lg) {
            font-size: 3rem;
            padding-top: 6rem;
            padding-bottom: 4rem;
        }

        .linkUp {
            @extend %linkGreen;
        }
    }
}


// PAGES
.footerPages {
    background-color: nth($color,1);
    color: nth($color,2);

    .divFooter {
        @extend %flexRow;
        align-items: center;
        justify-content: left;
        padding: 3rem 0rem 1rem 1rem;

        .photoFooter {
            max-width: 12rem;
            transition: all 0.6s ease;

            &:hover {
                transform: scale(1.6);
            }

            @include responsive(md) {
                max-width: 18rem;
            }
    
            @include responsive(lg) {
                max-width: 22rem;
            }
        }

        .nameFooter {
            margin-left: 2rem;
            font-size: 2rem;
            font-weight: bold;

            @include responsive(md) {
                margin-left: 3rem;
                font-size: 3rem;
            }
                
            @include responsive(lg) {
                font-size: 4rem;
            }
        }
        
        .jobFooter {
            margin-left: 1rem;
            font-size: 1.8rem;

            @include responsive(md) {
                margin-left: 2rem;
                font-size: 2.3rem;
            }
                
            @include responsive(lg) {
                font-size: 2.8rem;
            }
        }
    }

    .figureFooter {
        @extend %flexCenter;
        @extend %flexRow;
        padding: 1rem 0rem;
        margin: 0rem 2rem;

        .lineGrey {
            background: nth($color,2);
            height: 0.3rem;
            width: 90%;
            border-radius: 1rem;
            opacity: 100%;
            border: none;
        }

        .circleGrey {
            @extend %flexCenter;
            @extend %linkGrey;
            @extend %circleFooter;
            border: 0.3rem solid nth($color,2);

            @include responsive(lg) {
                transition: all 0.5s ease;

                &:hover {
                    transform: scale(1.1);
                    background-color: nth($color,2);
                    color: nth($color,1);
                }
            }
        }
    }

    .divBottom {
        display: flex;
        justify-content: space-between;
        background-color: nth($color,1);
        color: nth($color,2);
        font-size: 1.6rem;
        padding: 3rem 1rem 2rem 1rem;

        @include responsive(md) {
            font-size: 2.4rem;
        }

        @include responsive(lg) {
            font-size: 3rem;
        }

        .linkUp {
            @extend %linkGrey;
        }
    }
}