@import '../base/list';
@import '../base/extend';
@import '../base/mixin';

// INDEX
.sectionIndex {
    background-color: nth($color,1);
    color: nth($color,2);

    h2 {
        font-size: 2.2rem;
        text-align: center;
        padding: 20rem 3rem 10rem 3rem;
        text-shadow: 0px 5px 3px rgba(0,0,0,0.54);

        @include responsive(md) {
            font-size: 3rem;
        }

        @include responsive(lg) {
            font-size: 4.6rem;
        }
    }

    h3 {
        font-size: 1.9rem;
        text-align: center;
        padding: 20rem 3rem 10rem 3rem;
        text-shadow: 0px 5px 3px rgba(0,0,0,0.54);

        @include responsive(md) {
            font-size: 2.6rem;
            padding: 20rem 3rem 10rem 3rem;
        }

        @include responsive(lg) {
            font-size: 3.5rem;
            padding: 25rem 3rem 15rem 3rem;
        }
    }

    h4 {
        font-size: 1.9rem;
        text-align: center;
        padding: 15rem 3rem 10rem 3rem;
        text-shadow: 0px 5px 3px rgba(0,0,0,0.54);

        @include responsive(md) {
            font-size: 2.5rem;
            padding-bottom: 10rem;
        }

        @include responsive(lg) {
            font-size: 4rem;
        }
    }

    h5 {
        font-size: 2.5rem;
        text-align: center;
        padding: 5rem 3rem 10rem 3rem;
        text-shadow: 0px 5px 3px rgba(0,0,0,0.54);

        @include responsive(md) {
            font-size: 3rem;
        }

        @include responsive(lg) {
            font-size: 4.6rem;
        }
    }

    .circleBig {
        @extend %flexCenter;
        @extend %circleBig;
    
        background-color: nth($color,2);
        margin: auto;
        filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.54));

        .circleSmall {
            @extend %flexCenter;
            @extend %linkGreen;
            @extend %circleSmall;
            border: 0.3rem solid nth($color,1);
            font-size: 2rem;
            font-weight: bold;

            @include responsive(lg) {
                transition: all 0.5s ease;

                &:hover {
                    background-color: nth($color,1);
                    color: nth($color,2) !important;
                    transform: scale(0.93);
                }
            }
        }
    }
}

// Round end
.roundEndGreen {
    background-color: nth($color,1);
    border-radius: 50%;
    width: 100%;
    height: 10rem;
    margin-top: -5.4rem;
    margin-bottom: 1rem;
    border: 0.1rem solid nth($color,1);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 5px 9px -4px rgba(41, 41, 41, 0.71);
    -webkit-box-shadow: 0px 5px 9px -4px rgba(41, 41, 41, 0.71);
    -moz-box-shadow: 0px 5px 9px -4px rgba(41, 41, 41, 0.71);
}


// PAGES
.sectionPages {
    background-color: nth($color,2);
    color: nth($color,1);
    margin-top: -1rem;

    h3 {
        font-size: 2.5rem;
        text-align: center;
        padding-top: 8rem;
        padding-bottom: 2rem;

        @include responsive(md) {
            font-size: 3.5rem;
            padding-bottom: 4rem;
        }

        @include responsive(lg) {
            font-size: 4.5rem;
            padding: 10rem 0rem;
        }
    }

    h4 {
        font-size: 2.5rem;
        text-align: center;
        padding: 2rem;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);

        @include responsive(md) {
            font-size: 3.5rem;
        }

        @include responsive(lg) {
            font-size: 5rem;
            padding: 10rem 0rem;
        }
    }

    // Works
    .worksContainer {
        @extend %flexColumn;

        .worksDiv {
            @extend %flexColumn;
            align-items: center;

            @include responsive(lg) {
                flex-flow: row nowrap !important;
                justify-content: space-between;
                width: 60%;
                margin: auto;

                transition: all 0.6s ease;
                filter: grayscale(1);

                &:hover {
                    transform: scale(1.2);
                    filter: none;
                }
            }

            .worksLink {
                @extend %linkGreen;
                font-size: 3rem;
                padding-top: 5rem;
                padding-bottom: 3rem;

                @include responsive(md) {
                    font-size: 4rem;
                }
                    
                @include responsive(lg) {
                    font-size: 5rem;
                }
            }

            .worksImage {
                width: 15rem;
                padding-bottom: 8rem;
        
                @include responsive(md) {
                    width: 20rem;
                }
                    
                @include responsive(lg) {
                    width: 25rem;
                    padding-top: 7rem;
                }
            }
        }
    }

    // About
    .toolsContainer {
        @extend %flexColumn;

        @include responsive(lg) {
            flex-flow: row wrap !important;
            justify-content: space-around;
            padding: 4rem 2rem 6rem 2rem;
        }

        .divTools {
            @extend %flexColumn;
            text-align: center;
            align-items: center;
            padding-top: 2rem;
            padding-bottom: 5rem;

            @include responsive(md) {
                padding-bottom: 8rem;
            }
    
            @include responsive(lg) {
                filter: grayscale(1);
                transition: all 0.8s ease;

                &:hover {
                    transform: scale(1.3);
                    filter: none;
                }
            }

            .toolsImage {
                width: 15rem;

                @include responsive(md) {
                    width: 18rem;
                }
        
                @include responsive(lg) {
                    width: 20rem;
                }
            }

            .toolsText {
                font-size: 2.1rem;
                padding-top: 1rem;
                font-weight: bold;

                @include responsive(md) {
                    font-size: 2.8rem;
                }
        
                @include responsive(lg) {
                    font-size: 3.1rem;
                    padding-top: 2rem;
                }
            }
        }
    }

    .map {
        padding-bottom: 5rem;
        width: 100%;
        height: 60rem;

        @include responsive(md) {
            padding-bottom: 10rem;
            height: 80rem;
        }

        @include responsive(lg) {
            padding-bottom: 12rem;
            height: 100rem;
            filter:grayscale(1);
            transition: all 0.8s ease;

            &:hover {
                filter: none;
            }
        }
    }

    // Contact
    h1 {
        display: none;
    }

    .contactContainer {
        @extend %flexRow;

        .formContainer {
            @extend %flexColumn;
            padding: 0rem 2rem 6rem 2rem;

            @include responsive(md) {
                padding: 5rem 2rem 15rem 2rem;
            }
            
            @include responsive(xl) {
                width: 54%;
            }

            .formDiv {
                @extend %flexColumn;
                padding: 3rem 0rem;

                @include responsive(md) {
                    padding: 7rem 0rem;
                }
                
                @include responsive(lg) {
                    padding: 6rem 2rem;
                }

                .labelContact {
                    font-size: 2rem;
                    font-weight: 500;
                    padding-bottom: 2rem;

                    @include responsive(md) {
                        font-size: 4rem;
                        padding-bottom: 2rem;
                    }
                    
                    @include responsive(lg) {
                        font-size: 5rem;
                    }
                }

                .inputContact {
                    @extend %inputContact;
                    height: 5rem;
                    padding-left: 1rem;
                    font-size: 1.5rem;
                    font-weight: 100;

                    &:focus {
                        background-color: nth($color,1);
                        color: nth($color,2);
                    }

                    &:focus::placeholder {
                        color: nth($color,3);
                    }

                    @include responsive(md) {
                        height: 10rem;
                        font-size: 2.5rem;
                        padding-left: 2rem;
                    }
                    
                    @include responsive(lg) {
                        font-size: 3rem;
                        padding-left: 3rem;
                    }
                }

                .inputMessage {
                    @extend %inputContact;
                    height: 15rem;
                    padding-left: 1rem;
                    padding-top: 1rem;
                    font-size: 1.5rem;
                    resize: none;

                    &:focus {
                        background-color: nth($color,1);
                        color: nth($color,2);
                    }

                    &:focus::placeholder {
                        color: nth($color,3);
                    }

                    @include responsive(md) {
                        height: 25rem;
                        font-size: 2.5rem;
                    }
                    
                    @include responsive(lg) {
                        height: 30rem;
                        font-size: 3rem;
                    }
                }
            }

            .divButton {
                text-align: end;
                filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.54));

                .buttonSend {
                    @extend %buttonContact;
                    font-size: 2rem;
                    width: 10rem;
                    height: 5rem;

                    @include responsive(md) {
                        font-size: 4rem;
                        width: 20rem;
                        height: 8rem;
                    }
                    
                    @include responsive(lg) {
                        font-size: 4.7rem;
                        width: 23rem;
                        height: 9rem;
                        transition: all 0.4s ease;

                        &:hover {
                            background-color: nth($color,2);
                            color: nth($color,1);
                            transform: scale(0.93);
                        }
                    }
                }
            }
        }

        .divCode {
            display: none;

            @include responsive(xl) {
                display: flex;
                width: 45%;
                margin: auto;
            }

            .gifCode {
                @include responsive(xl) {
                    width: 100%;
                    filter: grayscale(0.6);
                    mix-blend-mode: darken;
                }
            }
        }
    }

    // Solidary
    .infoContainer {
        @extend %flexColumn;
        align-items: center;
        text-align: center;
        padding-bottom: 10rem;
        
        @include responsive(lg) {
            flex-flow: row wrap !important;
            justify-content: space-around;
        }

        .infoDiv {
            @extend %flexColumn;
            padding: 5rem 1rem;

            @include responsive(md) {
                padding: 10rem 1rem;
            }
        
            .infoText {
                font-size: 3rem;
                font-weight: bold;

                @include responsive(md) {
                    font-size: 4rem;
                }
                
                @include responsive(lg) {
                    font-size: 5rem;
                }
            }
            
            .infoLink {
                @extend %flexCenter;
                @extend %linkGreen;
                background-color: nth($color,3);
                border-radius: 2rem;
                width: 30rem;
                height: 8rem;
                font-size: 2rem;
                font-weight: normal;

                @include responsive(md) {
                    font-size: 3.5rem;
                    height: 15rem;
                    width: 60rem;
                }
                
                @include responsive(lg) {
                    font-size: 3rem;
                    height: 12rem;
                    width: 50rem;
                    transition: all 0.4s ease;

                    &:hover {
                        transform: scale(0.9);
                        background-color: nth($color,1);
                        color: nth($color,2) !important;
                    }
                }
            }
        }
    }
}

// Round end
.roundEndGrey {
    background-color: nth($color,2);
    border-radius: 50%;
    width: 100%;
    height: 10rem;
    margin-top: -5.4rem;
    margin-bottom: 1rem;
    border: 0.1rem solid nth($color,2);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 5px 9px -4px rgba(41, 41, 41, 0.71);
    -webkit-box-shadow: 0px 5px 9px -4px rgba(41, 41, 41, 0.71);
    -moz-box-shadow: 0px 5px 9px -4px rgba(41, 41, 41, 0.71);
}